.text-indent-2 {
  text-indent: 2em;
}

.rounded-image {
  border-radius: 50%;
  /* ทำให้มีรูปร่างเป็นวงกลม */
}

.hero-socials img:hover {
  padding: 3px;
  box-shadow: 0 3px 10px 0 rgba(242, 242, 242, 0.37);
  transition-duration: 300ms;
}

.hero-socials img {
  padding: 8px;
  background: #ffff;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px 0 solid rgba(255, 255, 255, 0.18);
  border-radius: 50px;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-divider-horizontal.ant-divider-with-text::before,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-divider-horizontal.ant-divider-with-text::after {
  background-color: #fb923c;
  max-width: 500px;
  height: 3px;
}

.ant-divider.css-dev-only-do-not-override-1rqnfsa.ant-divider-horizontal.ant-divider-with-text.ant-divider-with-text-center{
  justify-content: center;
}

.border-l-solid {
  border-right: 1px solid;
}

span.ant-divider-inner-text {
  font-size: 25px;
  color: white;
}

.border-radius-my-resume-left {
  border-radius: 5px 0 0 0;
}

.border-radius-my-resume-right {
  border-radius: 0 5px 0 0;
}

.ant-carousel.css-dev-only-do-not-override-1rqnfsa {
  width: 100%;
}

.crad-flex {
  display: flex !important;
  flex-wrap: wrap;
}

.project-card {
  width: 310px;
  height: auto;
  background: rgba(5, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px 0 solid rgba(255, 255, 255, 0.18);
  border-radius: 15px;
  transition: 0.2s all ease-in-out;
}

.project-card img {
  width: 100%;
  height: 170px;
  margin-bottom: 20px;
}
.project-map {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-tag p {
  padding: 8px;
  background: rgba(234, 3, 3, 0.3);
  width: fit-content;
  border-radius: 10px;
}

.carousel-grid {
  display: grid !important;
}

img.ant-image-img.css-dev-only-do-not-override-1rqnfsa {
  border-radius: 5px;
  box-shadow: "0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09)"
}