.text-indent-2 {
  text-indent: 2em;
}

.rounded-image {
  border-radius: 50%;
  /* ทำให้มีรูปร่างเป็นวงกลม */
}

.hero-socials img:hover {
  padding: 3px;
  box-shadow: 0 3px 10px 0 rgba(242, 242, 242, 0.37);
  transition-duration: 300ms;
}

.hero-socials img {
  padding: 8px;
  background: #ffff;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px 0 solid rgba(255, 255, 255, 0.18);
  border-radius: 50px;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-divider-horizontal.ant-divider-with-text::before,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-divider-horizontal.ant-divider-with-text::after {
  background-color: #fb923c;
  max-width: 500px;
  height: 3px;
}

.ant-divider.css-dev-only-do-not-override-1rqnfsa.ant-divider-horizontal.ant-divider-with-text.ant-divider-with-text-center{
  justify-content: center;
}

.border-l-solid {
  border-right: 1px solid;
}

span.ant-divider-inner-text {
  font-size: 25px;
  color: white;
}

.border-radius-my-resume-left {
  border-radius: 5px 0 0 0;
}

.border-radius-my-resume-right {
  border-radius: 0 5px 0 0;
}

.ant-carousel.css-dev-only-do-not-override-1rqnfsa {
  width: 100%;
}